/************************************************** custom defaults */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', 'cursive', Impact, 'Arial Narrow Bold', sans-serif,
    'Haettenschweiler';
}

body {
  cursor: default;
  text-align: center;
  background-color: #fff;
  /* for footer */
  position: relative;
  min-height: 100vh;
}

/* for footer */
body::after {
  content: '';
  display: block;
  height: 10rem; /* Set same as footer's height */
}

a {
  text-decoration: none;
}

/************************************************** nav bar */
#navBgLarge {
  display: none;
}

#navBgSmall {
  background-color: #fffafa;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  font-size: 1.1rem;
}

#navBgSmall i,
#navBgSmall a {
  color: #000;
}

.profile_img {
  border-radius: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
}

@media (min-width: 720px) {
  #navBgSmall {
    font-size: 1.5rem;
  }
}

@media (min-width: 900px) {
  #navBgSmall {
    display: none;
  }

  #navBgLarge {
    background-color: #fffafa;
    padding: 2rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-between;
    align-items: center;
  }

  .profile_pic {
    border-radius: 2rem;
    width: 3rem rem;
    height: 3rem;
  }
}

/************************************************** main bg */
#mainTagBg {
  margin: 10rem auto;
  width: 100%;
}

/************************************************** google */
#title h1 {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 0;
}

.blueChar {
  color: #0000cd;
}

.redChar {
  color: #ff0000;
}

.yellowChar {
  color: #ffff00;
}

.greenChar {
  color: #008000;
}

@media (min-width: 500px) {
  #title h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 720px) {
  #title h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 900px) {
  #title h1 {
    font-size: 5.5rem;
  }
}

/************************************************** search bar */
#formContainer {
  margin: 0 0 1.5rem;
}

#input {
  border-radius: 20px;
  height: 40px;
  width: 90%;
  border: 1px solid rgb(214, 209, 209);
  box-shadow: 0 1px 4px 0 #d3d3d3;
  outline: none;
}

.fa-solid.fa-magnifying-glass,
.fa-solid.fa-microphone {
  position: absolute;
  bottom: 26.2rem;
  color: #808080;
  cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
  left: 1.5rem;
}

.fa-solid.fa-microphone {
  right: 1.5rem;
}

@media (min-width: 500px) {
  #input {
    height: 3rem;
    border-radius: 2rem;
  }

  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-microphone {
    bottom: 26.5rem;
  }

  .fa-solid.fa-magnifying-glass {
    left: 2.5rem;
  }

  .fa-solid.fa-microphone {
    right: 2.5rem;
  }
}

@media (min-width: 720px) {
  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-microphone {
    bottom: 28rem;
  }

  .fa-solid.fa-magnifying-glass {
    left: 3.5rem;
  }

  .fa-solid.fa-microphone {
    right: 3.5rem;
  }
}

@media (min-width: 900px) {
  #input {
    height: 4rem;
    width: 70%;
  }

  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-microphone {
    bottom: 28.2rem;
    font-size: 2rem;
  }

  .fa-solid.fa-magnifying-glass {
    left: 9.5rem;
  }

  .fa-solid.fa-microphone {
    right: 9.5rem;
  }
}

@media (min-width: 1020px) {
  #formContainer {
    position: relative;
  }

  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-microphone {
    position: sticky;
    top: 25.5rem;
    bottom: 0;
  }

  .fa-solid.fa-magnifying-glass {
    left: 11rem;
  }

  .fa-solid.fa-microphone {
    right: 11rem;
  }
}

@media (min-width: 1143px) {
  #input {
    width: 50%;
  }

  .fa-solid.fa-magnifying-glass {
    left: 19rem;
  }

  .fa-solid.fa-microphone {
    right: 19rem;
  }
}

@media (min-width: 1208px) {
  .fa-solid.fa-magnifying-glass {
    left: 20rem;
  }

  .fa-solid.fa-microphone {
    right: 20rem;
  }
}

@media (min-width: 1285px) {
  .fa-solid.fa-magnifying-glass {
    left: 21rem;
  }

  .fa-solid.fa-microphone {
    right: 21rem;
  }
}

@media (min-width: 1536px) {
  #input {
    height: 5rem;
    border-radius: 3rem;
  }

  .fa-solid.fa-magnifying-glass,
  .fa-solid.fa-microphone {
    top: 26rem;
  }

  .fa-solid.fa-magnifying-glass {
    left: 26rem;
  }

  .fa-solid.fa-microphone {
    right: 26rem;
  }
}

/************************************************** btns */
.click#btn-1,
.random-button#btn-2 {
  background-color: #f8f8ff;
  border: none;
  color: #000;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin: 0 0 2rem;
  cursor: pointer;
}

@media (min-width: 720px) {
  .click#btn-1,
  .random-button#btn-2 {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

/************************************************** footer */
#footer {
  background-color: #f2f3f4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13rem;
  padding: 2rem 0.2rem;
  color: #353839;
}

#footer p:nth-child(1) {
  text-align: left;
  margin-bottom: 1.5rem;
  width: 100%;
}

#divder {
  width: 100%;
  position: absolute;
  bottom: 9rem;
  z-index: 1;
}

#footer p:nth-child(2) {
  margin-bottom: 1rem;
}

#otherLinks {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
  justify-items: start;
  align-content: center;
}

@media (min-width: 720px) {
  #otherLinks {
    justify-content: space-around;
  }
}
