/************************************************** custom defaults */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', 'cursive', Impact, 'Arial Narrow Bold', sans-serif,
    'Haettenschweiler';
}

body {
  cursor: default;
  text-align: center;
  background-color: #fff;
}

a {
  text-decoration: none;
}

/************************************************** nav bar */
#navBgLarge {
  display: none;
}

#navBgSmall {
  background-color: #fffafa;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  font-size: 1.1rem;
}

#navBgSmall i,
#navBgSmall a {
  color: #000;
}

.profile_img {
  border-radius: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
}
