/************************************************** custom defaults */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', 'cursive', Impact, 'Arial Narrow Bold', sans-serif,
    'Haettenschweiler';
}

body {
  cursor: default;
  text-align: center;
  background-color: #fff;
  /* for footer */
  position: relative;
  min-height: 100vh;
}

/* for footer */
body::after {
  content: '';
  display: block;
  height: 10rem; /* Set same as footer's height */
}

a {
  text-decoration: none;
}

/************************************************** nav bar */
#navBgLarge {
  display: none;
}

#navBgSmall {
  background-color: #fffafa;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  padding: 2rem;
  font-size: 1.1rem;
}

#navBgSmall i,
#navBgSmall a {
  color: #000;
}

.profile_img {
  border-radius: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 2rem;
}

/************************************************** main bg */
#mainTagBg {
  margin: 10rem auto;
  width: 100%;
}

/************************************************** google */
#title h1 {
  font-size: 2.5rem;
}

.blueChar {
  color: #0000cd;
}

.redChar {
  color: #ff0000;
}

.yellowChar {
  color: #ffff00;
}

.greenChar {
  color: #008000;
}

/************************************************** search bar */
#input {
  border-radius: 20px;
  height: 40px;
  width: 50%;
  border: 1px solid rgb(214, 209, 209);
  box-shadow: 0 1px 4px 0 #d3d3d3;
  outline: none;
}

/************************************************** footer */
#footer {
  background-color: #dcdcdc;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10rem;
}
